footer {
    margin: 160px 0 32px 0;
}

.media-icons {
    display: flex
}

.media-icons ul {
    display: flex;
    margin: auto;
    gap: 16px;
}

.media-icons ul li {
    width: 32px;
    height: 32px;
    opacity: 0.48;
    transition: 0.48s
}

.media-icons ul li:hover {
    opacity: 0.9;
    transition: 0.16s
}